/*import google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*Shared Style */
* {
    font-family: "Work Sans", serif;
    margin: 0;
    padding: 0;
}

section {
    margin-top: 120px;
}



/* Header Related Style */
header {
    background-image: url("../images/banner/banner2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.top-banner {
    padding: 210px 220px 160px 840px;
}

.top-banner-title {
    max-width: 525px;
    color: #151414;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
}

.top-banner-description {
    max-width: 495px;
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.top-banner-btn-container {
    text-align: right;
    margin-top: 10px;
}

.top-banner-btn {
    border-radius: 5px;
    background: #F15B22;
    border: 0;
    padding: 20px 25px;
    color: #FFF;

    text-align: right;
    font-size: 20px;
    font-weight: 600;
}

/*Main Related Style */
main {
    max-width: 1600px;
    margin: 0 auto;
}

.failure-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 250px;
}
.failure-profile img{
    max-width:450px;
}

.failure-content-title {
    max-width:288px;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom:10px;
}
.failure-content-description{
    max-width:416px;
    color:  #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin-bottom:10px;
}
ul> li{
    list-style:none;
    margin-top:10px;
}
