/*import google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*Shared Style */
* {
    font-family: "Work Sans", serif;
    margin: 0;
    padding: 0;
}

section {
    margin-top: 120px;
}



/* Header Related Style */
header {
    background-image: url("../images/banner/banner2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.top-banner {
    padding: 210px 220px 160px 840px;
}

.top-banner-title {
    max-width: 525px;
    color: #151414;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
}

.top-banner-description {
    max-width: 495px;
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.top-banner-btn-container {
    text-align: right;
    margin-top: 10px;
}

.top-banner-btn {
    border-radius: 5px;
    background: #F15B22;
    border: 0;
    padding: 20px 25px;
    color: #FFF;

    text-align: right;
    font-size: 20px;
    font-weight: 600;
}

/*Main Related Style */
main {
    max-width: 1600px;
    margin: 0 auto;
}

.failure-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 250px;
}

.failure-profile img {
    max-width: 450px;
}

.failure-content-title {
    max-width: 288px;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

.failure-content-description {
    max-width: 416px;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 10px;
}

ul>li {
    list-style: none;
    margin-top: 10px;
}

.color-check {
    color: green;
}

.my-plans-container {
    display: flex;
    gap: 90px;
    justify-content: center;
}

.plans {
    text-align: center;
}

.plan-title {
    color: #151414;
    font-size: 30px;
    font-weight: 700;
}

.plan-description {
    color: #737272;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

.footer-top-banner {
    background-image: url("../images/watch.png");
    background-repeat: no-repeat;
    /* margin: 0 200px; */
    background-position: center;
}

.footer-top-banner-content {
    /* text-align:center; */
    padding: 60px 60px 60px 260px;
}

.footer-top-banner-title {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    max-width: 460px;

}

.footer-top-banner-btn {
    border-radius: 5px;
    background: #FFF;
    padding: 20px 30px;
    border: 0;
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}

footer {
    margin-top: 100px;
    background: #151414;
    padding: 130px 230px;
}

.footer {

    display: flex;
    justify-content: space-between;
}

.footer-title {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
    margin-bottom:10px;
}

.footer-description {
    max-width: 485px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom:10px;
}
.contact-info{
    color: #FFF;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-bottom:10px;
}
input[type="email"]{
    display:block;
    width:100%;
    border:1px solid #ddd;
    padding:20px;
    color: #F3F3F3;
font-size: 18px;
font-weight: 400;
background:  #151414;
border-radius:5px;
margin-bottom:10px;
}
.subscribe-btn{
    padding:20px 36px;
    border-radius: 8px;
background: #FFF;
color: #F15B22;
font-size: 20px;
font-weight: 600;
cursor:pointer;
}